* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgba(188, 188, 188, 0.671);
}

h1, h3 {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgba(124, 151, 255, 0.671);
  border-radius: 10px;
  margin: 10px;
}

input {
  border-radius: 8px;
}

.navlist {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  background-color: rgba(124, 121, 121, 0.671);
  li {
    margin: 10px;
    margin-left: 15px;
  }
}

.pendingTransactions {
  display: flex;
  flex-direction: column;
}

.eventCreatorContainer {
  // display: flex;
  // justify-content: center;
  display: inline-block;
  background-color: white;
  vertical-align: top;
  // margin: auto;
}

.eventCreator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  background-color: rgba(255, 255, 255, 0.671);
  margin: 10px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid rgb(165, 185, 252);
}

.transaction {
  background-color: lightgrey;
}

.transactionBox {
  background-color:rgba(39, 37, 37, 0.671);
  margin: 3%;
  border-radius: 10px;

}

.deleteEventButton {
  
}