$primary-color: rgb(209, 224, 255);
$white: white;
$secondary-color: rgb(233, 233, 233);

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $secondary-color;
  margin: 0;
}

h1, h3 {
  display: flex;
  justify-content: center;
}

button {
  background-color: $white;
  border-radius: 10px;
  margin: 10px;
  font: $primary-color;
}

input {
  border-radius: 8px;
}

.navlist {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  background-color: $primary-color;
  margin-top: 0;
  li {
    margin: 10px;
    margin-left: 45px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.pendingTransactions {
  display: flex;
  flex-direction: column;
}

.eventCreatorContainer {
  // display: flex;
  // justify-content: center;
  display: inline-block;
  background-color: $secondary-color;
  vertical-align: top;
  // margin: auto;
}

.eventCreator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  background-color: rgba(255, 255, 255, 0.671);
  margin: 30px;
  margin-top: 30px;
  border-radius: 20px;
  // border: 2px solid rgb(165, 185, 252);
}

.transaction {
  background-color: lightgrey;
}

.transactionBox {
  background-color:$primary-color;
  margin: 3% 6% ;
  border-radius: 10px;
  border: 1px solid $secondary-color;

}

.transactionCreater {
  background-color: $secondary-color;
  margin: 3% 6%;
}